:root {
    --LIGHT-BLUE: #79B2E1;
    --DARK-BLUE: #004B93;
    --LIGHT-BLUE: #e0FaFF;
    --BLUE-WHITE: #D4E5F2;
    --SUCCESS: #4CAF50;
    --WARNING: #D32F2F;
    --WHITE: #FFFFFF;
    --LIGHT-GREY: #E5E5E5;
    --WHITE-GREY: #F3F0F0;
    --GREY: #BDBDBD;
    --DARK-GREY: #676767;
    --BLACK: #000000;
}

html, body, {
    height: 100vh;
    min-height: 100vh;
}

img {
    width: 2rem;
}

.alert {
    display: none;
    position: absolute;
    top: 34rem;
    left: 29rem;
    font-size: large;
    border-radius: 2rem;
}

.navbar {
    background-color: var(--DARK-GREY);
    color: var(--WHITE);
    font-size: 3rem;
    font-weight: bold;
    font-family: "Signika Negative", sans-serif, Arial;
}
.navbar> .container-fluid {
    justify-content: center;
}

.nav {
   max-width: 4rem;
   background-color: var(--DARK-BLUE);
}