.app {
    display: flex;
    flex-direction: column;
}

.name {
    margin-left: 3rem;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-link {
    display: flex;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 100%;
}

.nav-link.active {
    background-color: #FFFFFF;
}

.nav {
    flex: 1;
}

section {
  flex: 9;
}

.welcome {
    width: 35rem;
    margin-top: 6rem;
}

.welcome-mobile {
    background-color: var(--BLUE-WHITE);
    margin-top:10rem;
    padding: 2rem;
    display: none;
}

.cloud {
    background-image: url("../media/cloud.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    right: 24rem;
    top: 13rem;
    height: 9rem;
    width: 15rem;
}

.cloud-article{
    background-image: url("../media/cloud.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    left: 23rem;
    top: 16rem;
    height: 30rem;
    width: 50rem;
}

.container {
  background-image: url("../media/main.svg");
  background-repeat: no-repeat;
  background-position: 84% 133px;
  background-size: contain;
  min-height: calc(100vh - 160px);
}

.container-app-index {
    display: flex;
    align-items: stretch;
    height: calc(100vh - 160px);
}

.login,
.home,
.register{
    display: none;
}

.login.active,
.home.active,
.register.active{
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid #004B93;
    border-radius: 1rem;
    margin: 1rem 0;
}

.align-items-center {
    align-items: flex-start!important;
}

.btn-primary, .btn-secondary, .btn-danger, btn-secondary-sort  {
    min-width: 100px;
    background: var(--DARK-BLUE);
    border-radius: 1rem;
}

.btn-secondary {
    background: var(--DARK-GREY);
}

.btn-sort {
    background: var(--DARK-GREY);
}

.btn-danger {
    background: var(--WARNING);
}

.read-more {
    text-decoration: none;
    color: var(--DARK);
}

.modal-footer {
    justify-content: center;
}

footer {
    background-color: var(--DARK-GREY);
    color: var(--WHITE);
    position: relative;
    right: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .name {
        font-size: 1rem;
        margin: 0;
    }

    .cloud {
        right: 9rem;
        top: 6rem;
    }

    .container-app-index, .container-app-home{
        height: 87vh;
    }
}

@media (max-width: 845px) {
    .welcome-mobile {
        display: block;
        border-radius: 4rem;
        max-width: 26rem;
    }

    .cloud-article {
        display: none;
    }
}

@media (max-width: 450px) {
    .name {
        font-size: 1rem;
        margin: 0;
    }

    .cloud {
        right: 4rem;
    }
}

@media (max-width: 300px) {
    .cloud {
        right: 4rem;
    }
}

