.name {
    margin-left: 7rem;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-link {
    display: flex;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 100%;
}
.nav-link.active {
    background-color: #FFFFFF;
}

.nav {
    flex: 1;
}

section {
  flex: 9;
}

.container-app {
    display: flex;
}

.welcome {
    position: absolute;
    top: 14rem;
    left: 11rem;
    width: 32rem;
}

.cloud {
    background-image: url("../media/cloud.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 13rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    right: 18rem;
}

.container {
  background-image: url("../media/main.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.login,
.home,
.register{
    display: none;
}

.login.active,
.home.active,
.register.active{
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid #004B93;
    border-radius: 1rem;
    margin: 2rem 0;
}

.align-items-center {
    align-items: flex-start!important;
}

.btn-primary, .btn-secondary  {
    width: 100px;
    height: 40px;
    background: var(--DARK-BLUE);
    border-radius: 30px;
    margin: 1rem;
}

.btn-secondary {
    background: var(--DARK-GREY);
}

.modal-footer {
    justify-content: center;
}